body {
    background-color: #d5d5d5;
    padding: 0;
}

.container {
    margin: 0 0 0 7.5%;
}

section {
    background-color: white;
    width: 90%;
    border-radius: 10px;
}

p {
    padding: 10px;
    font-size: 2rem;
}

h1 {
    font-size: 3.5rem;
    margin-left: 0;
    color: #6d7993;
}

.h2 {
    background-color: #6d7993;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 3rem;
    text-align: center;

}

img {
    width: 70%;
    margin-left: 15%;
}
