body {
    background-color: silver;
}

.container {
    margin: auto;
    width: 80%;
    margin-top: 20%;
}

form {
    text-align: left;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
